body {
  background-color:cadetblue
}

/*styling for input form*/
#form {
  display: flex;
  flex-direction: column;
  width: 17%;
  margin-left:2%
}

/* Style for header */
header {
  text-align: center
}

/*styling for nav bar*/
#navBar-container {
display: flex;
flex-direction: row;
width: 30%;
justify-content: space-around;
margin-left: auto;
margin-right: auto;
background-color: coral;
border: 2px solid black;

}



a:link {
  text-decoration: none;
  color: black;
  
}

/* Styles for headers of individual pages */
.page-headers {
  margin-left: 2%
}

/* Styling for page of all posts */
.all-posts {
  margin-left: 2%;
  width: 30% 
}